<%- include("partials/header"); -%>
<div class="jumbotron">
	<div class ="container">
		<h1>Home</h1>
		<p> <%=text%> </p>
	</div>
</div>
<% posts.forEach(function(posts){%>
<div class="container post">
	<h1><%=posts.title%></h1>
	<p>
		<p class="lead max-lines">
		<%=posts.content%>
		</p>
		<a href="/posts/<%=posts._id%>" class="read-more" >Read More</a>
		<input type="hidden" name="postId" value="<%=posts._id%>">
	</p>
	<br>
</div>
<% }) %>
<%- include("partials/footer"); -%>